<div class='container-fluid'>
  <% @posts.each do |post| %>
    <div class='row'>
      <div class='col-md-2'><%= link_to post.title, post_path(post.id) %></div>
      <div class='col-md-1'>
        <%= link_to edit_post_path(post.id) do %>
          <i class="bi-pencil"></i>
        <% end %>
      </div>
      <div class='col-md-1'>
        <%= link_to post_path(post.id), method: :delete, class: 'link-danger', data: {confirm: 'Are you sure?'} do %>
          <i class="bi-trash"></i>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-md-4'>
      <center>
        <%= link_to 'New post', new_post_path, class: 'btn btn-primary' %>
      </center>
    </div>
  </div>
</div>
